#root, html, body{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  height: 90vh;
  background-color: var(--main-background-color);
}

:root {
  --primary-header-bg-color: #B5CDA3;
  --button-bg-color: #B5CDA3;
  --main-background-color: #924551;
  --text-color: #3A6351;
  --fact-card-bg-color: var(--primary-header-bg-color);
}