.post-button {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    width: 25%;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.post-button-icon {
    vertical-align: bottom;
    margin-bottom: 3px;
}

.post-button:hover {
    filter: brightness(1.05);
    transform: scale(1.05);
}
