.post-wrapper{
    width: 99vw;
    max-width: 700px;
    background-color: var(--fact-card-bg-color);
    border-radius: 15px;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.2);

    margin: 15vh auto;
}

.post-title{
    font-size: 25px;
    padding: 0 5% 5%;
    margin: 0;

    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
}

.post-link-wrapper {
    width: 100%;
    text-align: center;
    padding: 1% 0;

    color: var(--text-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
}


.post-link{
    position: fixed;
    bottom: 0;
    left: 43vw;
    right: 43vw;
    color: rgba(0, 0, 0, 0.5)
}

.post-buttons-wrapper {
    width: 80%;
    margin: 0 auto;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
}

.post-button {
    font-size: 40px;
    margin-bottom: 40px;
}