.post-wrapper{
    width: 99vw;
    max-width: 900px;
    background-color: var(--fact-card-bg-color);
    border-radius: 15px;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.3);

    margin: 15vh auto;
}

.post-title{
    color: var(--text-color);
    font-size: 40px;
    letter-spacing: 1px;
    padding: 8% 4%;
    margin: 0;
    text-shadow: 3px 4px rgba(0, 0, 0, .2);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.post-link-wrapper {
    width: 100%;
    text-align: center;
    padding: 1% 0;
    color: gray;
}
.post-link{
    color: gray;
    margin: 0 auto;
}

.post-buttons-wrapper {
    width: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
}

.post-button {
    font-size: 60px;
}